<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickSeriesTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46FBE2F51F69E4B600600AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FBE3091F69E4B700600AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FBE3141F69E4B700600AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
